/*
main.css
contactNumber
*/
/* 
    Created on : 29 Jul 2019, 3:12:32 PM
    Author     : Brian
*/

body {
    background-color: tomato;
}
.inpCode {
    font-size: 15pt;
}
.divC {
    background: blue;
    padding: 10px;
    font-size: 15pt;
    color: black;
    width: 100%;
}
.divCode {
    background-color: aqua;
}
textarea {
    width: 100%;
    min-height: 100px;
}
.dencrypt {
    font-size: 24pt;
    background-color: springgreen;
    border-radius: 3px;
    border: 1px solid black;
    color: darkred;
    padding: 7px;
    margin: 5px;
    float: right;
}
.dencrypt:hover {
    background-color: blueviolet;
}
.app {
    width: 85%;
    margin: inherit;
}
.top {
    top: 25px;
    position: relative;
}
input:focus, textarea:focus {
    color: goldenrod;
}